[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
celery = "*"
redis = "*"
python-dotenv = "*"
dj-database-url = "*"
django-celery-results = "*"

[dev-packages]

[requires]
python_version = "3.12"
